<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="{{ url_for('static', filename='style/nobootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/menucards.css') }}" rel="stylesheet">-->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {% if title %}
        <title>MealMate - {{ title }}</title>
    {% else %}
        <title>MealMate</title>
    {% endif %}
  </head>
  <body class="bg-gray-100">
    <!-- Navigation-->
    <nav class="bg-gray-800">
      <!--<div class="menu-btn">
        <div class="menu-btn-burger">
        </div>
      </div>-->
      <div class="flex p-4 justify-between">
        <ul class="flex flex-row flex-initial">
          <li class="bg-gray-600 p-1">
            <a class="" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="#">Portfolio</a>
          </li>
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="#">Porto</a>
          </li>
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="{{ url_for('recipes') }}">Recipes</a>
          </li>
        </ul>
        <ul class="flex flex-row flex-initial justify-self-end">
        {% if current_user.is_authenticated %} 
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="{{ url_for('logout') }}">Logout</a>
          </li>
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="{{ url_for('account') }}">Account</a>
          </li>
          {% else %}
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="p-1 hover:bg-gray-500">
            <a class="" href="{{ url_for('register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>

    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
        {% for category, message in messages %}
          <div>
            {{ message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    
  </body>
</html>