{% extends "layout.html" %}

{% block body %}

<div class="searchcreate">
  <button id="searchb">Search for Recipes</button>
  <button id="createb">Create a Recipe</button>
</div>

<form id="search" method="GET" action="/recipes">
  <fieldset>
    {{rsform.recipename(id="rname")}}
  </fieldset>
</form>

<form id="create" method="POST" action="/recipes" class="recipe">
  {{rform.hidden_tag()}}
  <fieldset>
    <div class="Create-Grid">
      <div class="Header">
        <div>
          {{rform.recipename.label}}
          {% if rform.recipename.errors %}
            {% for error in rform.recipename.errors %}
              <span>{{error}}</span>
            {% endfor %}
          {% else %}
            {{rform.recipename}}
          {% endif %}
        </div>
        <div>
          {{rform.recipedesc.label}}
          {% if rform.recipedesc.errors %}
            {% for error in rform.recipedesc.errors %}
              <span>{{error}}</span>
            {% endfor %}
          {% else %}
            {{rform.recipedesc}}
          {% endif %}
        </div>
      </div>
      <div class="Image">
        {{rform.photo.label}}
        {% if rform.photo.errors %}
          {% for error in rform.photo.errors %}
            <span>{{error}}</span>
          {% endfor %}
        {% else %}
          {{rform.photo}}
        {% endif %}
      </div>
      <div id="steps" class="Steps">
        <button type="button" id="addstep">Add Step</button>
        {{rform.steps.label}}
        {% for step in rform.steps %}
          <div class="step" id="stepprototype">
            {{step.stepnumber.label}}
            {% if step.stepnumber.errors %}
              {% for error in step.stepnumber.errors %}
                <span>{{error}}</span>
              {% endfor %}
            {% else %}
            {{step.stepnumber}}
            {% endif %}      
            {{step.steptext.label}}
            {% if step.steptext.errors %}
              {% for error in step.steptext.errors %}
                <span>{{error}}</span>
              {% endfor %}
            {% else %}
              {{step.steptext}}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div id="ingredients" class="Ingredients">
        <button type="button" id="addingredient">Add Ingredients</button>
        {{rform.ingredients.label}}
        {% for ingredient in rform.ingredients %}
          <div class="ingredient" id="ingredientprototype">
            {{ingredient.ingredient.label}}
            {{ingredient.ingredient}}
            {{ingredient.unit.label}}
            {{ingredient.unit}}
            {{ingredient.amount.label}}  
            {% if ingredient.amount.errors %}
              {% for error in ingredient.amount.errors %}
                <span>{{error}}</span>
              {% endfor %}
            {% else %}
              {{ingredient.amount}}
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </fieldset>
  <div>
    {{rform.submit}}
  </div>
</form>

<!--cards-->
<!--When we pass 'recipes' it's from search results. None highlighted.-->

<div class="recipes">
  <!--When we pass a single recipe by ID - means the user just created it, so it's active. -->

  {% if recipe %}
  <div class="recipe">
    <div class="recipe-image">
      <img class="" src="static/images/bbb.jpg" alt="{{ recipe.name }}">
      <button class="edit">Change Image</button>
    </div>
    <div class="recipe-header" id="bbb">
      <div class="slide active-slide">
        <h4><b>{{recipe.recipename}}</b></h4>
        <div class="recipe-detail">
          <p>{{recipe.recipedesc}}</p>
          {% if current_user.is_authenticated and current_user.id == recipe.author_id %}
          <a href="{{url_for('editrecipe(recipe.id)')}}"><button id="edit">Edit</button></a>
          {% endif %}
        </div>
      </div>
      {% for step in recipe.steps %}
      <div class="slide">
        <h4><b>Step {{step.stepnumber}}</b></h4>
        <div class="recipe-detail">
          <p>{{step.steptext}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="ingredients">
      {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <h4>{{ingredient.ingredient.name}}</h4>
        <h4>{{ingredient.amount}} {{ingredient.unit.name}}s</h4>
      </div>
      {% endfor %}
    </div>    
  </div>

  {% else %}

  {% for recipe in recipes %}
  <div class="recipe">
    <div class="recipe-image">
      <img class="" src="static/images/bbb.jpg" alt="{{ recipe.name }}">
      <button class="edit">Change Image</button>
    </div>
    <div class="recipe-header" id="bbb">
      <div class="slide active-slide">
        <h4><b>{{recipe.recipename}}</b></h4>
        <div class="recipe-detail">
          <p>{{recipe.recipedesc}}</p>
          {% if current_user.is_authenticated and current_user.id == recipe.author_id %}
          <a href="{{url_for('editrecipe', id=recipe.id)}}"><button id="edit">Edit</button></a>
          {% endif %}
        </div>
      </div>
      {% for step in recipe.steps %}
      <div class="slide">
        <h4><b>Step {{step.stepnumber}}</b></h4>
        <div class="recipe-detail">
          <p>{{step.steptext}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="ingredients">
      <h2>Ingredients</h2>
      {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <h4>{{ingredient.ingredient.name}}</h4>
        <h4>{{ingredient.amount}} {{ingredient.unit.name}}s</h4>
      </div>
      {% endfor %}
    </div>    
  </div>
  {% endfor %}
  
  
    
  {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/recipes.js')}}"></script>
<script>
  
  
</script>

{% endblock %}