{% extends "layout.html" %}

{% block body %}

<div class="searchcreate flex justify-center bg-gray-300">
  <button id="searchb" class="p-4 hover:bg-gray-400">Search for Recipes</button>
  <button id="createb" class="p-4 hover:bg-gray-400">Create a Recipe</button>
</div>

<form id="search" method="POST" action="/recipes" class="hidden">
  <fieldset>
    <div class="Create-Grid">
      <div class="Header">
        <div class="Namesearch">
          <input name="name" type="text">
          <input type="submit">
        </div>
      </div>
    </div>
  </fieldset>
</form>

<form id="create" method="POST" action="/recipes" class="recipe hidden flex justify-center bg-gray-300" enctype="multipart/form-data">
  {{form.hidden_tag()}}
  <fieldset>
    <div class="Create-Grid px-40">
      <div class="Header grid grid-cols-2">
        <div class="col-span-2 mx-auto p-4">
          {{form.recipename.label}}
          {% if form.recipename.errors %}
            {% for error in form.recipename.errors %}
              <span>{{error}}</span>
            {% endfor %}
          {% else %}
            {{form.recipename}}
          {% endif %}
        </div>
        <div class="mx-auto col-start-1 col-end-2">
          {{form.recipedesc.label(class="my-auto")}}
          {% if form.recipedesc.errors %}
            {% for error in form.recipedesc.errors %}
              <span>{{error}}</span>
            {% endfor %}
          {% else %}
            {{form.recipedesc}}
          {% endif %}
        </div>
        <div class="mx-auto col-start-2 col-end-3">
          {{ form.picture.label() }}
          {{ form.picture(class="form-control-file") }}
          {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                  <span class="text-danger">{{ error }}</span></br>
              {% endfor %}
          {% endif %}
        </div>
        <div id="steps" class="Steps grid grid-cols-2 p-4">
          {{form.steps.label(class="col-start-1 col-end-2 mx-auto text-xl")}}
          <button type="button" id="addstep" class="bg-gray-400 col-start-2 col-end-3 w-40 mx-auto">Add Step</button>
          <div class="col-start-1 col-end-3 grid grid-cols-2">
            <h1>Step Number</h1>
            <h1>Step Description</h1>
            {% for step in form.steps %}
            <div class="step col-start-1 col-end-3 grid grid-cols-2" id="stepprototype">
              {% if step.stepnumber.errors %}
                {% for error in step.stepnumber.errors %}
                  <span>{{error(class="col-start-1 col-end-2")}}</span>
                {% endfor %}
              {% else %}
              {{step.stepnumber(class="col-start-1 col-end-2")}}
              {% endif %}

              {% if step.steptext.errors %}
                {% for error in step.steptext.errors %}
                  <span>{{error(class="col-start-2 col-end-3")}}</span>
                {% endfor %}
              {% else %}
                {{step.steptext(class="col-start-2 col-end-3")}}
              {% endif %}
            </div>
          </div>
          {% endfor %}
          
        </div>
        <div id="ingredients" class="Ingredients grid grid-cols-2 p-4">
          {{form.ingredients.label(class="col-start-1 col-end-2 mx-auto text-xl")}}
          <button type="button" id="addingredient" class="bg-gray-400 col-start-2 col-end-3 w-40 mx-auto">Add Ingredients</button>
          
          
          <div class="col-start-1 col-end-3 grid grid-cols-3">
            <h1>Ingredient</h1>
            <h1>Unit</h1>
            <h1>Amount</h1>
            {% for ingredient in form.ingredients %}
            <div id="ingredientprototype" class="ingredient col-start-1 col-end-4 grid grid-cols-3">
              {{ingredient.ingredient}}
          
              {{ingredient.unit}}
              
              {% if ingredient.amount.errors %}
                {% for error in ingredient.amount.errors %}
                  <span>{{error}}</span>
                {% endfor %}
              {% else %}
                {{ingredient.amount}}
              {% endif %}
            </div>
              
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="px-auto mx-auto self-center justify-self-center">
    {{form.submit(class="px-auto mx-auto self-center justify-self-center")}}
  </div>
</form>

<!--cards-->
<!--When we pass 'recipes' it's from search results. None highlighted.-->

<div class="recipes bg-blue-100 mx-40 grid grid-cols-4">
  <!--When we pass a single recipe by ID - means the user just created it, so it's active. -->

  {% if recipe %}
  <div class="recipe">
    <div class="recipe-image">
      <img class="" src="{{url_for('static', filename='images/' + recipe.image_file)}}" alt="{{ recipe.name }}">
      <button class="edit">Change Image</button>
    </div>
    <div class="recipe-header" id="bbb">
      <div class="slide active-slide">
        <h4><b>{{recipe.recipename}}</b></h4>
        <div class="recipe-detail">
          <p>{{recipe.recipedesc}}</p>
          {% if current_user.is_authenticated and current_user.id == recipe.author_id %}
          <a href="{{url_for('editrecipe', id=recipe.id)}}"><button id="edit">Edit</button></a>
          <a href="{{url_for('deleterecipe', id=recipe.id)}}"><button id="delete">Delete</button></a>
          {% endif %}
        </div>
      </div>
      {% for step in recipe.steps %}
      <div class="slide">
        <h4><b>Step {{step.stepnumber}}</b></h4>
        <div class="recipe-detail">
          <p>{{step.steptext}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="ingredients">
      {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <h4>{{ingredient.ingredient.name}}</h4>
        <h4>{{ingredient.amount}} {{ingredient.unit.name}}s</h4>
      </div>
      {% endfor %}
    </div>    
  </div>

  {% else %}

  {% for recipe in recipes %}
  <div class="recipe bg-blue-200 border-black border-1 rounded p-5 h-100">
    <div class="recipe-image">
      <img class="h-40 w-40 object-contain shadow rounded mx-auto" src="{{url_for('static', filename='images/' + recipe.image_file)}}" alt="{{ recipe.name }}">
    </div>
    <div class="recipe-header" id="bbb">
      <div class="slide active-slide">
        <h4 class="text-center"><b>{{recipe.recipename}}</b></h4>       
        <div class="recipe-detail">
          <p class="text-center">{{recipe.recipedesc}}</p>
        </div>
      </div>
      {% for step in recipe.steps %}
      <div class="slide hidden">
        <h4><b>Step {{step.stepnumber}}</b></h4>
        <div class="recipe-detail">
          <p>{{step.steptext}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="ingredients hidden">
      <h2>Ingredients</h2>
      {% for ingredient in recipe.ingredients %}
      <div class="ingredient">
        <h4>{{ingredient.ingredient.name}}</h4>
        <h4>{{ingredient.amount}} {{ingredient.unit.name}}s</h4>
      </div>
      {% endfor %}
    </div>
    <div class="flex justify-between">
      <small>By {{recipe.author.username}}</small>
      <a href="/recipes?user={{recipe.author.id}}"><img class="object-contain h-5 rounded shadow" src="{{url_for('static', filename='images/' + recipe.author.image_file)}}" alt="{{recipe.author.username}}'s profile picture"></a>
    </div>

    {% if current_user.is_authenticated and current_user.id == recipe.author_id %}
          <div class="flex justify-between bottom-0 top-auto">
            <a href="{{url_for('editrecipe', id=recipe.id)}}"><button class="bg-blue-500 rounded" id="edit">Edit</button></a>
            <a href="{{url_for('deleterecipe', id=recipe.id)}}"><button class="bg-blue-500 rounded" id="delete">Delete</button></a>
          </div>          
          {% endif %} 
  </div>
  {% endfor %}
  
  
    
  {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/recipes.js')}}"></script>
<script>
  
  
</script>

{% endblock %}